<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_BEEACCT_2-9"/>
		<add key="uploadtosandbox" value="Y"/>
		<add key="appfolder" value="BeeAcctAutomation"/>
		<add key="erpappnamepath" value="C:\Program Files (x86)\BeeAccounting\2.9\Bee-29.exe"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="screenshotlogfolder" value ="log"/>
		<add key="datapicturefolder" value="ScreenPicToSearch"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="dbpath" value=""/>
		<add key="dbname" value=""/>
		<add key="loginId" value="sa"/>
		<add key="password" value="Bits"/>
		<add key="scale" value="100"/>
		<add key="runasadmin" value="N"/>
		<add key="waitappload" value="25000"/>
	</appSettings>
</configuration>